*
{
    box-sizing: border-box;
}

div
{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    justify-items: center;
    margin-top: 125px;
}

p
{
    max-width: 839px;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 10px;
    border:1px solid black;
    border-radius:8px;
}

a
{
    margin-top: 30px;
    text-decoration: none;
    padding: 10px 5px 10px 5px;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 8px;
}

input
{
    text-decoration: none;
    margin: 10px 10px 0px 10px;
    padding: 10px 5px 10px 5px;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 8px;
}
