body
{
    background-color: #ffffff;
}

.container
{
    width: 300px;
    margin: 0 auto;
    background-color: #a8a6a6;
    padding: 20px;
    border: 1px solid #8B0000;
}

h1
{
    color: #8B0000;
    text-align: center;
}

input[type="text"]
{
    width: 280px;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #8B0000;
}

.result
{
    background-color: #D3D3D3;
    width: 280px;
    padding: 10px;
    border: 1px solid #8B0000;
    margin-top: 10px;
}

button
{
    border: 1px solid #8B0000;
    cursor: pointer;
    margin-top: 10px;
}

#aniadir
{
    padding: 10px 20px;
    margin-left: 5px;
}

#eliminar
{
    padding: 10px 20px;
    margin-left: 116px;
}